@use '../base' as *;
@use '../config' as *;

.main {
    margin-top: 2.8rem;

    @media screen and (min-width: 600px) {
        display: flex;
        margin-top: 7rem;
        margin-bottom: 4rem;
    }
}