// Crimson Pro 200.font-family: 'Crimson Pro', serif;
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap');
$brand: 'Crimson Pro', serif;

//Lora font-family: 'Lora', serif;
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
$main-title: 'Lora', serif;

//Montserrat 600, 300 font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
$text: 'Montserrat', sans-serif; 